<ng-container *ngIf="page">
  <div *ngIf="page.page_banner" class="bg-hero mb-3" [style.background-image]="'url(' + contentUrl(page.page_banner?.url) + ')'">
    <div class="bg-hero-container"> </div>
  </div>

  <div class="container">
    <h1>{{page.page_title}}</h1>

    <div [innerHtml]="page.page_content_primary"></div>

    <ng-container *ngIf="gallery">
      <!-- <ng-container *ngFor="let item of gallery">

        <h3 class="mt-4">{{item.gallery_name}}</h3>

        <div class="slideshow-container">

          <div *ngFor="let image of item.gallery_images;  let i = index;" class="{{concat(item.gallery_name)}} fade">
            <div class="numbertext">{{i + 1}} / {{count(item.gallery_images)}}</div>
            <img [src]="contentUrl(image.url)" style="width:100%">
            <div class="text"></div>
          </div>

          <a class="prev" (click)="plusSlides(concat(item.gallery_name), -1)">&#10094;</a>
          <a class="next" (click)="plusSlides(concat(item.gallery_name), 1)">&#10095;</a>
        </div>
        <br>

        <div style="text-align:center">
          <span *ngFor="let image of item.gallery_images; let i = index;" class="{{concat(item.gallery_name)}}-dot" (click)="currentSlide(concat(item.gallery_name), i + 1)"></span>
        </div>
      </ng-container> -->

    </ng-container>

    <ng-container *ngIf="downloads">

    </ng-container>

    <div [innerHtml]="page.page_content_secondary"></div>

  </div>
</ng-container>
